@import url(https://fonts.googleapis.com/css?family=Lekton:400,700);

/* base */

body {
	font-family: 'Lekton';
	font-weight: 500;
	font-size: 24px;
	color: #0d0d0d;
	line-height: 2;
	letter-spacing: 1px;

	text-align: center;
}

.vertical-align-center {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
}

/* header */

header {
	width: 100%;
	top: 0;
	z-index: 20;
}

header a {
	text-decoration: none;
	color: #0d0d0d;
}

h1 {
	width: 200px;
	margin: 30px auto;
	font-size: 30px;
	border: 2px solid #0d0d0d;
}

h1:hover {
	background-color: #0d0d0d;
	color: #ffffff;
}

/* hero */

.hero {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text {
	font-size: 30px;
	padding: 150px 0;
	-webkit-animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
}

/* contact */

.contact {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.contact__email, .contact__number {
	display: block;

	text-decoration: none;
	color: #0d0d0d;
	letter-spacing: 0;
  margin-top: 20px;
}

.contact__email {
	display: inline-block;
	line-height: 1;
	border-bottom: 2px solid #ffffff;
}

.contact__email:hover {
	border-bottom: 2px solid #0d0d0d;
}

/* animations */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* responsive */

@media (max-width: 700px) {
	.hero-text {
    font-size: 26px;
  }

  .contact__number, .contact__email {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
	.hero-text {
		font-size: 24px;
	}

	.contact__number, .contact__email {
		font-size: 20px;
	}
}
