@import url(https://fonts.googleapis.com/css?family=Lekton:400,700);

/* base */

body {
	font-family: 'Lekton';
	font-weight: 500;
	font-size: 24px;
	color: #0d0d0d;
	line-height: 2;
	letter-spacing: 1px;

	text-align: center;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.container--contact {
	width: 550px;
	margin: 0 auto;
}

/* header */

header {
	width: 100%;
	top: 0;
	z-index: 20;
}

header a {
	text-decoration: none;
	color: #0d0d0d;
}

h1 {
	width: 200px;
	margin: 30px auto;
	font-size: 30px;
	border: 2px solid #0d0d0d;
}

h1:hover {
	background-color: #0d0d0d;
	color: #ffffff;
}

/* hero */

.hero-text {
	font-size: 30px;
	padding: 150px 0;
	-webkit-animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
}

/* contact */

.contact{
	padding: 0 0 100px 0;
}

.contact__email, .contact__number {
	display: block;
	font-family: 'Lekton';
	text-decoration: none;
	color: #0d0d0d;
	letter-spacing: 0;
}

.contact__email {
	display: inline-block;
	line-height: 1;
	border-bottom: 2px solid #ffffff;
}

.contact__email:hover {
	border-bottom: 2px solid #0d0d0d;
}


/* media queries */

@media (max-width: 900px) {
	.hero-text {
		font-size: 32px;
	}

	.container, .container--contact {
		width: 100%;
		padding: 0 60px;
	}
}

/* animations */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}



@media (max-width: 700px) {
	.container {
		padding: 0 40px;
	}
}


@media (max-width: 500px) {
	.hero-text {
		font-size: 26px;
	}

	.contact__number, .contact__email {
		font-size: 20px;
	}
}
